@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: "Bai Jamjuree", sans-serif; */
:root {
  --Green500: hsl(171, 66%, 44%);
  --Blue100: hsl(233, 100%, 69%);

  --Gray700: hsl(210, 10%, 33%);
  --Gray500: hsl(201, 11%, 66%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 80px;
}
header {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header p {
  margin-bottom: 20px;
  width: 620px;
  text-align: center;
}
.button {
  display: flex;
  gap: 10px;
}
.b1 {
  background-color: var(--Green500);
  font-size: small;
  border: 0;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 8px 8px 0 hsl(171, 89%, 83%);
}
.b2 {
  background-color: var(--Blue100);
  border: 0;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 8px 8px 0 hsl(233, 90%, 84%);
}
.main1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main1 p {
  width: 700px;
  margin-bottom: 80px;
}

.main2 {
  display: flex;
  margin-bottom: 80px;
}
.com {
  position: relative;
  left: -40px;
}
.comc {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  top: 80px;
  left: 20px;
  width: 380px;
}
.main3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main3 p {
  width: 700px;
  margin-bottom: 60px;
}
.main4 {
  display: flex;
  gap: 20px;
  justify-self: center;
  margin-top: 50px;
  width: 1020px;
}

.main4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main4 p {
  margin-top: 20px;
  font-size: small;
}
.main4 .view1,
.view2 {
  margin-top: 30px;
}
.view3 {
  margin-top: 38px;
}
.main4 img {
  width: 30px;
}

.main5 img {
  height: 40px;
}
.main6 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main6 p {
  margin-bottom: 20px;
  width: 680px;
}
.main6 h3 {
  margin-bottom: 20px;
}
.ft {
  display: flex;
  gap: 30px;
  cursor: pointer;
  margin-left: 50px;
}
.hey {
  padding-left: 380px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}
footer p:hover {
  color: var(--Green500);
}
footer img:hover {
  filter: sepia(1) hue-rotate(125deg) saturate(5) brightness(105%);
}
footer {
  display: flex;
  gap: 50px;
  background-color: hsl(210, 57%, 95%);
  padding: 20px 100px 20px 100px;
  margin-top: 60px;
}
footer img {
  width: 30px;
  height: 30px;
}
@media (max-width:450px) {
  .parent {
    width:100% ;
  
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
  header img {
    width: 100px;
    margin-bottom: 20px;
  }
  header p {
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
  }
  .button {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .b1,
  .b2 {
    width: 300px;
  }
  .main1 {
    padding: 25px;
  }
  .main1 p {
    margin-bottom: 40px;
    width: 95%;
    text-align: center;
    align-items: center;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .com {
    position: relative;
    width: 90%;
    left: 25px;
  }
  .comc {
    display: flex;
    gap: 10px;
    position: relative;
    top: 0;
    left: auto;
    text-align: center;
    width: 95%;
    padding: 20px;
  }
  .main3 {
    padding: 20px;
  }
  .main3 p {
    width: 340px;
  }
  .main3 img {
    width: 95%;
  }
  .main4 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 95%;
  }
  .main4 p {
    font-size: 18px;
  }

  .main5 img {
    width: 90px;
  }
  .main6{padding: 20px;}
  .main6 p{width: 100%;
    
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .ft {
    display: flex;
    flex-direction: column;
  position: relative;
  left: -25px;
  
  }
  .hey {
    display: flex;
    padding: 20px;
    gap: 35px;
  }
  .hey img{width: 20px; height: 20px;}
  .ft1,
  .ft2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    align-items: center;
    margin: 0;padding: 0;

  }
  footer img {
  width: 50px;
  height: 50px;
}
}
